@import "tailwindcss";

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

* {
  user-select: none;
  /* Disable text selection */
  -webkit-user-select: none;
  /* For Safari */
  -moz-user-select: none;
  /* For Firefox */
  -ms-user-select: none;
  /* For IE/Edge */
}
html, body {
  overflow: hidden;
}
